.best-sidebar {
  width: var(--token-2xl-4);
  padding: var(--token-md-2);
  flex-shrink: 0;
}

.best-sidebar-title {
  font-size: var(--token-md-4);
  font-weight: var(--font-weight-2xl);
  margin: 0;
  padding: var(--token-md-1);
  color: var(--color-black);
  border-top: 5px solid var(--color-black);
  border-bottom: 1px solid var(--color-gray-200);
}

.category-list {
  list-style: none;
  margin: 0;
  padding: 20px;
}

.category-list li {
  margin: 0px;
  padding: 10px;
}

.category-item,
.category-item-active {
  text-align: left;
  font-size: var(--token-md-2);
  color: var(--color-black);
  cursor: pointer;
  font-weight: var(--font-weight-md);
}

.category-item-active {
  font-weight: var(--font-weight-2xl);
}

.category-item:hover {
  font-weight: var(--font-weight-2xl);
}
