.best-sidebar {
  width: 22rem;
  padding: 1.5rem;
  flex-shrink: 0;
}

.best-sidebar-title {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  margin: 0;
  padding: 1.25rem;
  color: var(--color-black);
  border-top: 5px solid var(--color-black);
  border-bottom: 1px solid var(--color-gray-inactive);
}

.category-list {
  list-style: none;
  margin: 0;
  padding: 20px;
}

.category-list li {
  margin: 0px;
  padding: 10px;
}

.category-item,
.category-item-active {
  text-align: left;
  font-size: 1.5rem;
  color: var(--color-black);
  cursor: pointer;
  font-weight: var(--font-weight-normal);
}

.category-item-active {
  font-weight: var(--font-weight-bold);
}

.category-item:hover {
  font-weight: var(--font-weight-bold);
}
