:root {
  /* Font Family */
  --font-family-primary: "Roboto";
  --font-family-secondary: "Nanum Gothic";

  /* Font Weight */
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  /* Font Size */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 1.75rem;
  --font-size-2xl: 2rem;
  --font-size-payment-button: 2.25rem;
  --font-size-grade-value: 4rem;

  /* Icons */
  --icon-arrow-down: url("../components/icons/arrow-down.svg");

  /* Spacing */
  --spacing-border-width-thin: 0.03125rem;
  --spacing-letter-spacing-xs: 0.03rem;
  --spacing-base-small: 0.0625rem;
  --spacing-letter-spacing-sm: 0.1rem;
  --spacing-letter-spacing-md: 0.125rem;
  --spacing-border-radius-base: 0.25rem;
  --spacing-border-width-thick: 0.3125rem;
  --spacing-letter-spacing-grade-value: 0.375rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.625rem;
  --spacing-md: 0.75rem;
  --spacing-base: 1rem;
  --spacing-lg: 1.25rem;
  --spacing-xl: 1.5rem;
  --spacing-line-height-base: 1.4;
  --spacing-width-button-sm: 1.875rem;
  --spacing-section: 2.5rem;
  --spacing-size-spinner: 3rem;
  --spacing-height-md: 3.125rem;
  --spacing-height-lg: 3.75rem;
  --spacing-2xl: 4rem;
  --spacing-size-medium: 5rem;
  --spacing-size-image: 7.5rem;
  --spacing-height-grade-section: 12.5rem;
  --spacing-width-input: 13.125rem;
  --spacing-width-payment-button: 25rem;
  --spacing-width-base: 30rem;
  --spacing-width-container-lg: 80rem;
  --spacing-border-radius-full: 9999px;
  --spacing-width-full: 100%;

  /* Height */
  --height-image-xs: 18rem;
  --height-image-sm: 19rem;
  --height-image-md: 20rem;
  --height-image-lg: 21rem;
  --height-image-xl: 22rem;
  --height-image-2xl: 23rem;
  --height-image-3xl: 24rem;
  --height-image-4xl: 26rem;
  --height-image-5xl: 27rem;
  --height-image-6xl: 28rem;
  --height-image-7xl: 29rem;
  --height-image-8xl: 30rem;

  /* Colors - Base */
  --color-black: #000000;
  --color-white: #ffffff;

  /* Colors - Gray */
  --color-gray-100: #f3f2f2;
  --color-gray-200: #e8e8e8;
  --color-gray-300: #cccccc;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #1f2937;

  /* Colors - Blue */
  --color-blue-500: #0078ff;
  --color-blue-600: #2563eb;

  /* Colors - Yellow */
  --color-yellow-500: #fae407;

  /* Colors - Red */
  --color-red: #ff5252;
  --color-red-error-100: #fee2e2;
  --color-red-error-300: #f87171;
  --color-red-error-600: #991b1b;
}
