:root {
  /* Font Family */
  --font-family-primary: "Roboto";
  --font-family-secondary: "Nanum Gothic";

  /* Font Weight */
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  /* Font Size */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 1.75rem;
  --font-size-2xl: 2rem;
  --font-size-payment-button: 2.25rem;
  --font-size-grade-value: 4rem;

  /* Icons */
  --icon-arrow-down: url("../components/icons/arrow-down.svg");

  /* Token */
  --token-xs-1: 0.03rem;
  --token-xs-2: 0.0625rem;
  --token-xs-3: 0.1rem;
  --token-xs-4: 0.125rem;
  --token-xs-5: 0.25rem;
  --token-xs-6: 0.3125rem;
  --token-xs-7: 0.375rem;
  --token-xs-8: 0.5rem;
  --token-xs-9: 0.625rem;
  --token-sm-1: 0.75rem;
  --token-base: 1rem;
  --token-md-1: 1.25rem;
  --token-md-2: 1.5rem;
  --token-md-3: 1.875rem;
  --token-md-4: 2rem;
  --token-lg-1: 2.5rem;
  --token-lg-2: 3rem;
  --token-lg-3: 3.125rem;
  --token-lg-4: 3.75rem;
  --token-lg-5: 4rem;
  --token-xl-1: 5rem;
  --token-xl-2: 7.5rem;
  --token-2xl-1: 12.5rem;
  --token-2xl-2: 13.125rem;
  --token-3xl-1: 25rem;
  --token-3xl-2: 30rem;
  --token-4xl: 80rem;
  --token-full: 100%;

  /* Height */
  --height-image-xs: 18rem;
  --height-image-sm: 19rem;
  --height-image-md: 20rem;
  --height-image-lg: 21rem;
  --height-image-xl: 22rem;
  --height-image-2xl: 23rem;
  --height-image-3xl: 24rem;
  --height-image-4xl: 26rem;
  --height-image-5xl: 27rem;
  --height-image-6xl: 28rem;
  --height-image-7xl: 29rem;
  --height-image-8xl: 30rem;

  /* Colors - Base */
  --color-black: #000000;
  --color-white: #ffffff;

  /* Colors - Gray */
  --color-gray-100: #f3f2f2;
  --color-gray-200: #e8e8e8;
  --color-gray-300: #cccccc;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #1f2937;

  /* Colors - Blue */
  --color-blue-500: #0078ff;
  --color-blue-600: #2563eb;

  /* Colors - Yellow */
  --color-yellow-500: #fae407;

  /* Colors - Red */
  --color-red: #ff5252;
  --color-red-error-100: #fee2e2;
  --color-red-error-300: #f87171;
  --color-red-error-600: #991b1b;
}
