.header-banner {
  width: 100%;
  height: 2.5rem;
  background: var(--color-black);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-banner-text {
  display: flex;
  color: var(--color-white);
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.header-banner-discount {
  color: var(--color-red-error-text);
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
}

.header-main {
  width: 100%;
  background: var(--color-white);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
}

.header-logo {
  text-decoration: none;
  transition: opacity 0.2s;
}

.header-logo:hover {
  opacity: 0.7;
}

.header-logo-text {
  font-size: 2.25rem;
  font-weight: var(--font-weight-extra-bold);
  color: var(--color-black);
}

.header-search-container {
  margin: 1.25rem;
  width: 50%;
  border: 0.0625rem solid var(--color-black);
}

.header-search-wrapper {
  display: flex;
  padding: 0.25rem 0.5rem;
}

.header-search-input {
  width: 100%;
  font-size: 1rem;
  background-color: var(--color-white);
  color: var(--color-black);
}

.header-search-input::placeholder {
  color: var(--color-gray-border);
}

.header-search-icon-wrapper {
  display: flex;
  align-items: center;
}

.header-search-divider {
  width: 0.0625rem;
  height: 1.5rem;
  background-color: var(--color-black);
  margin: 0 0.5rem;
}

.header-search-button {
  padding: 0.5rem;
}

.header-search-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-black);
  transition: color 0.2s;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-action-item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  transition: opacity 0.2s;
  text-decoration: none;
  color: inherit;
}

.header-action-item:hover {
  opacity: 0.7;
}

.header-action-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.header-action-text {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  line-height: 0.875rem;
}

.hidden-lg {
  display: none;
}

.header-nav {
  display: flex;
  align-items: center;
  height: 2.5rem;
  background-color: var(--color-white);
  padding: 0 1.25rem;
}

.header-nav-list {
  display: flex;
  gap: 2.5rem;
}

.header-nav-link {
  color: var(--color-black);
  font-size: 1rem;
  font-weight: var(--font-weight-normal);
  letter-spacing: 0.03rem;
  text-decoration: none;
  transition: font-weight 0.2s;
}

.header-nav-link-active {
  font-weight: var(--font-weight-bold);
}

.header-nav-link:hover {
  font-weight: var(--font-weight-bold);
}
