.header-main {
  width: var(--token-full);
  background: var(--color-white);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--token-md-1);
}

.header-logo {
  text-decoration: none;
}

.header-logo:hover {
  opacity: var(--opacity-75);
}

.header-logo-text {
  font-size: var(--token-md-5);
  font-weight: var(--font-weight-3xl);
  color: var(--color-black);
}

.header-search-container {
  margin: var(--token-md-1);
  width: var(--token-half);
  border: var(--token-xs-2) solid var(--color-black);
}

.header-search-wrapper {
  display: flex;
  padding: var(--token-xs-5) var(--token-xs-8);
}

.header-search-input {
  width: var(--token-full);
  font-size: var(--token-base);
  background-color: var(--color-white);
  color: var(--color-black);
}

.header-search-input::placeholder {
  color: var(--color-gray-500);
}

.header-search-icon-wrapper {
  display: flex;
  align-items: center;
}

.header-search-divider {
  width: var(--token-xs-2);
  height: var(--token-md-2);
  background-color: var(--color-black);
  margin: 0 var(--token-xs-8);
}

.header-search-button {
  padding: var(--token-xs-8);
}

.header-search-icon {
  width: var(--token-md-2);
  height: var(--token-md-2);
  color: var(--color-black);
}

.header-actions {
  display: flex;
  align-items: center;
  gap: var(--token-md-2);
}

.header-action-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--token-xs-8);
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.header-action-item:hover {
  opacity: var(--opacity-75);
}

.header-action-icon {
  width: var(--token-md-2);
  height: var(--token-md-2);
}

.header-action-text {
  font-size: var(--token-base);
  display: flex;
  align-items: center;
  line-height: var(--token-base);
  text-align: center;
}

.header-nav {
  display: flex;
  align-items: center;
  height: var(--token-lg-1);
  background-color: var(--color-white);
  padding: 0 var(--token-md-1);
}

.header-nav-list {
  display: flex;
  gap: var(--token-lg-1);
}

.header-nav-link {
  color: var(--color-black);
  font-size: var(--token-base);
  font-weight: var(--font-weight-md);
  letter-spacing: var(--token-xs-1);
  text-decoration: none;
}

.header-nav-link-active {
  font-weight: var(--font-weight-2xl);
}

.header-nav-link:hover {
  font-weight: var(--font-weight-2xl);
}
