.products-container {
  padding: 1.5625rem;
  column-count: 3;
  column-gap: 0;
  font-size: 0;
}

.product-card {
  display: inline-block;
  width: 100%;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.1);
}

.product-image {
  object-fit: cover;
  display: block;
}

.product-card:nth-child(1) .product-image {
  height: 22rem;
}

.product-card:nth-child(2) .product-image {
  height: 30rem;
}

.product-card:nth-child(3) .product-image {
  height: 18rem;
}

.product-card:nth-child(4) .product-image {
  height: 26rem;
}

.product-card:nth-child(5) .product-image {
  height: 20rem;
}

.product-card:nth-child(6) .product-image {
  height: 28rem;
}

.product-card:nth-child(7) .product-image {
  height: 24rem;
}

.product-card:nth-child(8) .product-image {
  height: 19rem;
}

.product-card:nth-child(9) .product-image {
  height: 27rem;
}

.product-card:nth-child(10) .product-image {
  height: 21rem;
}

.product-card:nth-child(11) .product-image {
  height: 29rem;
}

.product-card:nth-child(12) .product-image {
  height: 23rem;
}
