.layout-container {
  width: var(--token-full);
  height: var(--token-full);
}

.layout-content-with-sidebar {
  display: flex;
  width: var(--token-full);
}

.layout-content {
  width: var(--token-full);
}
