.mypage-container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 1.5625rem;
}

.mypage-grade-section {
  position: relative;
  display: grid;
  grid-template-columns: 5fr 2.5fr 2.5fr;
  background: var(--color-black);
  height: 12.5rem;
}

.mypage-grade-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 1.25rem;
  border-right: 1px solid var(--color-gray-inactive);
}

.mypage-grade-item-standard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.mypage-grade-header {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.mypage-grade-label {
  font-size: 1.5rem;
  font-weight: var(--font-weight-light);
  color: var(--color-white);
  letter-spacing: 0.0625rem;
}

.mypage-grade-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mypage-grade-value {
  font-size: 4rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  letter-spacing: 0.375rem;
}

.mypage-grade-benefit-button {
  border: 1px solid var(--color-white);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: var(--font-weight-normal);
  color: var(--color-white);
}

.mypage-section {
  background: var(--color-white);
  overflow: hidden;
  margin: 2.5rem 0;
  /* border-bottom: 1px solid var(--color-gray-inactive); */
}

.mypage-section-header {
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.3125rem solid var(--color-black);
  border-bottom: 1px solid var(--color-gray-inactive);
}

.mypage-section-title {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.0625rem;
}

.mypage-section-more {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.mypage-section-more-text {
  font-size: 1.25rem;
  font-weight: var(--font-weight-normal);
  color: var(--color-black);
}

.mypage-order-item {
  padding: 1.25rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  border-bottom: 1px solid var(--color-gray-inactive);
}

.mypage-order-date {
  font-size: 1.25rem;
  font-weight: var(--font-weight-normal);
  min-width: 7.5rem;
}

.mypage-order-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mypage-order-product {
  font-size: 1.25rem;
  font-weight: var(--font-weight-normal);
}

.mypage-order-price {
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  margin-left: auto;
}

.mypage-order-image {
  width: 5rem;
  height: 5rem;
  background: var(--color-gray-card-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mypage-wishlist-tab-item {
  padding: 1.25rem;
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
  letter-spacing: 0.0625rem;
}

.mypage-wishlist-grid {
  padding: 1.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
  gap: 1.25rem;
  border-bottom: 1px solid var(--color-gray-inactive);
}

.mypage-wishlist-item {
  display: flex;
  flex-direction: column;
}

.mypage-wishlist-image {
  width: 7.5rem;
  height: 7.5rem;
  background: var(--color-gray-card-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mypage-wishlist-item-empty-text {
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.0625rem;
  padding: 1.25rem;
  text-align: center;
  border-bottom: 1px solid var(--color-gray-inactive);
}
