.mypage-sidebar {
  width: 20rem;
  padding: 1.5rem;
  flex-shrink: 0;
}

.mypage-user-info {
  padding: 1.25rem;
  border-top: 0.3125rem solid var(--color-black);
  border-bottom: 0.0625rem solid var(--color-gray-200);
}

.mypage-user-name {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.0625rem;
}

.mypage-nav-section {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding: 1.25rem;
  border-bottom: 0.0625rem solid var(--color-gray-200);
}

.mypage-nav-title {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.0625rem;
}

.mypage-nav-item {
  font-size: 1.25rem;
  font-weight: var(--font-weight-normal);
  letter-spacing: 0.0625rem;
}

.mypage-nav-item:hover {
  background-color: var(--color-gray-100);
}
