.mypage {
  width: var(--token-full);
  margin: 0 auto;
  padding: var(--token-md-1);
}

.mypage__grade-section {
  position: relative;
  display: grid;
  grid-template-columns: 5fr 2.5fr 2.5fr;
  background: var(--color-black);
  height: var(--token-2xl-1);
}

.mypage__grade-item {
  display: flex;
  align-items: center;
  gap: var(--token-md-1);
  padding: var(--token-md-1);
}

.mypage__grade-item--standard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.mypage__grade-header {
  display: flex;
  align-items: center;
  gap: var(--token-sm-1);
}

.mypage__grade-label {
  font-size: var(--token-md-2);
  font-weight: var(--font-weight-sm);
  color: var(--color-white);
  letter-spacing: var(--token-xs-2);
}

.mypage__grade-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--token-full);
}

.mypage__grade-value {
  font-size: var(--token-lg-5);
  font-weight: var(--font-weight-2xl);
  color: var(--color-white);
  letter-spacing: var(--token-xs-7);
}

.mypage__section {
  background: var(--color-white);
  overflow: hidden;
  margin: var(--token-lg-1) 0;
}

.mypage__section-header {
  padding: var(--token-md-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: var(--token-xs-6) solid var(--color-black);
  border-bottom: var(--token-xs-1) solid var(--color-gray-200);
}

.mypage__section-title {
  font-size: var(--token-md-2);
  font-weight: var(--font-weight-2xl);
  letter-spacing: var(--token-xs-2);
}

.mypage__section-more {
  display: flex;
  align-items: center;
  gap: var(--token-xs-5);
  text-decoration: none;
  color: inherit;
}

.mypage__section-more-text {
  font-size: var(--token-base);
  font-weight: var(--font-weight-md);
  color: var(--color-black);
}

.mypage__order-item {
  padding: var(--token-md-1);
  display: flex;
  align-items: center;
  gap: var(--token-md-1);
  border-bottom: var(--token-xs-1) solid var(--color-gray-200);
}

.mypage__order-date {
  font-size: var(--token-base);
  font-weight: var(--font-weight-md);
  min-width: var(--token-xl-2);
}

.mypage__order-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mypage__order-product {
  font-size: var(--token-base);
  font-weight: var(--font-weight-md);
}

.mypage__order-price {
  font-size: var(--token-base);
  font-weight: var(--font-weight-2xl);
  margin-left: auto;
}

.mypage__order-image {
  width: var(--token-xl-1);
  height: var(--token-xl-1);
  background: var(--color-gray-100);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mypage__order-image-src {
  width: var(--token-full);
  height: var(--token-full);
  object-fit: cover;
}
