.mypage-sidebar {
  width: var(--token-2xl-4);
  padding: var(--token-md-2) 0 var(--token-md-2) var(--token-md-2);
  flex-shrink: 0;
}

.mypage-user-info {
  padding: var(--token-md-1);
  border-top: var(--token-xs-6) solid var(--color-black);
  border-bottom: var(--token-xs-2) solid var(--color-gray-200);
}

.mypage-user-name {
  font-size: var(--token-md-4);
  font-weight: var(--font-weight-2xl);
  letter-spacing: var(--token-xs-2);
}

.mypage-nav-section {
  display: flex;
  flex-direction: column;
  gap: var(--token-xs-8);
  padding: var(--token-md-1);
  border-bottom: var(--token-xs-2) solid var(--color-gray-200);
}

.mypage-nav-title {
  font-size: var(--token-md-2);
  font-weight: var(--font-weight-2xl);
  letter-spacing: var(--token-xs-2);
}

.mypage-nav-item {
  font-size: var(--token-md-1);
  font-weight: var(--font-weight-md);
  letter-spacing: var(--token-xs-2);
  text-decoration: none;
  color: inherit;
  display: block;
  padding: var(--token-xs-8) 0;
}

.mypage-nav-item--active {
  font-weight: var(--font-weight-2xl);
}
