.product-detail-container {
  width: 80%;
  position: relative;
  margin: 0 auto;
  padding: 1.5625rem;
}

.product-detail-main {
  display: flex;
  align-items: flex-start;
}

.product-detail-image-section {
  width: 35%;
  aspect-ratio: 1;
  flex-shrink: 0;
  background-color: var(--color-gray-100);
  display: flex;
  align-items: center;
}

.product-detail-nav-button {
  width: 30px;
  height: 40px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-detail-nav-button:hover {
  background: var(--color-gray-100);
}

.product-detail-image-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.product-detail-image-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: auto;
  padding-bottom: 20px;
}

.product-detail-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-gray-300);
  cursor: pointer;
  transition: background-color 0.2s;
}

.product-detail-dot.active {
  background-color: var(--color-black);
}

.product-detail-info-section {
  width: 65%;
  padding-left: 32px;
}

.product-detail-line {
  width: 100%;
  max-width: 950px;
  height: 5px;
  background-color: var(--color-black);
  margin-bottom: 20px;
}

.product-detail-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.product-detail-title h1 {
  font-size: 36px;
  font-weight: var(--font-weight-bold);
  letter-spacing: 1px;
  margin: 0;
}

.product-detail-wishlist-button {
  margin-right: 16px;
  color: var(--color-black);
}

.product-detail-wishlist-button:hover {
  color: var(--color-red);
}

.product-detail-wishlist-icon {
  width: 3rem;
  height: 3rem;
  fill: currentColor;
  transition: all 0.2s ease;
}

.product-detail-rating {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.product-detail-stars {
  display: flex;
  gap: 4px;
}

.product-detail-review-link {
  color: var(--color-gray-900);
  font-size: 24px;
  text-decoration: underline;
  margin-left: 8px;
}

.product-detail-price-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.product-detail-price {
  font-size: 36px;
  font-weight: 700;
  color: var(--color-black);
  margin: 0;
}

.product-detail-coupon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px 8px 16px;
  font-size: 24px;
  font-weight: var(--font-weight-bold);
  background-color: var(--color-black);
  color: var(--color-white);
}

.product-detail-coupon-button:hover {
  background-color: var(--color-gray-600);
}

.product-detail-coupon-icon {
  margin-left: 8px;
  align-items: center;
  vertical-align: middle;
}

.product-detail-points {
  font-size: 24px;
  font-weight: var(--format-weight-thin);
  margin-bottom: 20px;
}

.product-detail-divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-200);
  margin: 20px 0;
}

.product-detail-member-price {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.product-detail-member-price-value {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-detail-discount-percent {
  font-size: 24px;
  font-weight: var(--font-weight-bold);
  color: var(--color-gray-400);
}

.product-detail-member-price-amount {
  font-size: 24px;
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
}

.product-detail-discount-section {
  margin: 20px 0;
}

.product-detail-discount-item {
  display: grid;
  grid-template-columns: 120px 25px 1fr auto;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
  border-bottom: 1px solid var(--color-gray-200);
  position: relative;
}

.product-detail-discount-item.selected {
  font-weight: 700;
}

.product-detail-discount-label {
  font-size: var(--font-size-sm);
  color: var(--color-black);
  grid-column: 1;
}

.product-detail-discount-checkbox {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  transition: all 0.2s ease;
  margin: 0;
  position: relative;
  grid-column: 2;
}

.product-detail-discount-name {
  font-size: var(--font-size-sm);
  color: var(--color-black);
  grid-column: 3;
}

/* 잠시 구획 나누기 */

.product-detail-coupon-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-detail-coupon-download {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px 2px 4px;
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  background-color: var(--color-red);
  color: var(--color-white);
}

.product-detail-coupon-download:hover {
  background-color: var(--color-red-dark);
}

.product-detail-coupon-name {
  font-size: 16px;
  color: var(--color-black);
}

.product-detail-discount-amount {
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  text-align: right;
}

.product-detail-discount-amount.disabled {
  color: var(--color-border);
}

.product-detail-shipping {
  border-bottom: 1px solid var(--color-gray-200);
  /* gap: 8px; */
  /* margin-bottom: 20px; */
}

.product-detail-shipping-item {
  display: flex;
  margin-bottom: 20px;
}

.product-detail-shipping-label {
  font-size: var(--font-size-sm);
  font-weight: 400;
  color: var(--color-black);
  min-width: 100px;
  margin-right: 20px;
}

.product-detail-shipping-content {
  font-size: var(--font-size-sm);
  font-weight: 400;
  color: var(--color-black);
  line-height: 1.5;
}

.product-detail-shipping-highlight {
  color: var(--color-blue-light);
  font-weight: 400;
}

.product-detail-options {
  margin-bottom: 30px;
}

.product-detail-option-group {
  margin-bottom: 20px;
}

.product-detail-option-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border: 0.5px solid var(--color-gray-800);
  background-color: var(--color-white);
  margin-bottom: 10px;
}

.product-detail-option-header.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* 1 */
/* 2 */
/* 3 */

.product-detail-option-items {
  display: none;
  border: 0.5px solid var(--color-gray-800);
  background-color: var(--color-white);
}

.product-detail-option-items.open {
  display: block;
}

.product-detail-option-item {
  display: flex;
  align-items: center;
  padding: 15px var(--spacing-md);
  border-bottom: 1px solid var(--color-gray-200);
  cursor: pointer;
  transition: background-color 0.2s;
}

.product-detail-option-item:hover {
  background-color: var(--color-bg-light);
}

.product-detail-option-item:last-child {
  border-bottom: none;
}

.product-detail-option-item.selected {
  background-color: #e8e8e8;
}

/* 잠시 구획 나누기 */

.product-detail-order-buttons {
  display: flex;
  gap: 20px;
}

.product-detail-order-button {
  flex: 1;
  height: 60px;
  border: 1px solid var(--color-gray-800);
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.84px;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-detail-order-button:hover {
  background-color: var(--color-bg-light);
}

.product-detail-order-button.primary {
  background-color: var(--color-black);
  color: var(--color-white);
  border-color: var(--color-black);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
}

.product-detail-order-button.primary:hover {
  background-color: var(--color-gray-600);
}
