.register-form-container {
  width: 40%;
  position: relative;
  margin: 0 auto;
  padding: 1rem;
}

.register-form-title {
  margin: 1.5rem 0;
}

.register-form-title h1 {
  font-size: 1.5rem;
  font-weight: var(--font-weight-black);
  color: var(--color-black);
}

.register-form-title p {
  font-size: 1rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.register-form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.register-form-label {
  font-size: 0.8rem;
  font-weight: var(--font-weight-medium);
  color: var(--color-gray-subtle);
}

.register-form-input {
  width: 100%;
  height: 2.5rem;
  padding: 0 0.75rem;
  border: 0.0625rem solid var(--color-black);
}

.register-form-input:focus {
  box-shadow: 0 0 0 2px var(--color-gray-border);
}

.register-form-input:disabled {
  background-color: var(--color-gray-background);
  cursor: not-allowed;
}

.register-form-email-group {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.register-form-email-separator {
  padding: 0 0.25rem;
  color: var(--color-gray-border);
}

.register-form-select {
  width: 15rem;
  height: 2.5rem;
  padding: 0 0.75rem;
  padding-right: 2rem;
  background-color: var(--color-white);
  background-image: var(--icon-arrow-down);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem 1rem;
  font-size: 0.875rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border: 0.0625rem solid var(--color-black);
  outline: none;
}

.register-form-phone-group {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.register-form-verify-button {
  height: 2.5rem;
  padding: 0 1rem;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s;
  box-sizing: border-box;
}

.register-form-verify-button:hover:not(:disabled) {
  background-color: var(--color-gray-dark);
}

.register-form-verify-button:disabled {
  background-color: var(--color-gray-disabled);
  cursor: not-allowed;
}

.register-form-error-message {
  margin-bottom: 1rem;
  padding: 0.75rem;
  background-color: var(--color-red-error-bg);
  border: 0.0625rem solid var(--color-red-error-border);
  color: var(--color-red-error-text);
  border-radius: 0.25rem;
  font-size: 0.875rem;
}

.register-form-submit {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.register-form-submit-button {
  width: 100%;
  height: 3.75rem;
  margin-top: 2rem;
  background: var(--color-black);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
.register-form-submit-button:hover:not(:disabled) {
  background-color: var(--color-gray-dark);
} */

.register-form-submit-button:disabled {
  background-color: var(--color-gray-disabled);
  cursor: not-allowed;
}

.register-form-submit-text {
  font-size: 1.75rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

.register-form-login-link {
  text-align: center;
}

.register-form-login-link p {
  color: var(--color-gray-subtle);
  font-size: 0.875rem;
}

.register-form-login-link-text {
  color: var(--color-black);
  font-weight: var(--font-weight-extra-bold);
  text-decoration: none;
}

.register-form-login-link-text:hover {
  color: var(--color-gray-dark);
}
