@import "@styles/common.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: var(--font-family-primary);
  background-color: var(--color-white);
  overflow-x: hidden;
}

button {
  font-family: inherit;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

button:focus {
  outline: none;
}

input,
select,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: 1;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
